<div>
  <div>
    <p>Name of product</p>
    <input [(ngModel)]="product.name">
    <div>{{product.name}}</div>
  </div>

  <div>
      <p>Price of product</p>
      <input [(ngModel)]="product.price">
      <div>{{product.price}}</div>
  </div>

  <button (click)="addProduct()">Add product</button>
  <div>
    <p>List of products:</p>
    <div>
      <div *ngFor="let product of products">
        {{product.name}}   {{product.price}} HUF
      </div>
    </div>
    <div *ngIf="isEmpty()">
        <p>No products are in the store. Add some!</p>
    </div>
  </div>
</div>