<div fxLayout="column" fxLayoutAlign="center center" style="height: 100%;  ">
<div></div>
<div>
  <div fxLayout="column" fxLayoutAlign="center center" >
    <div *ngIf="isLogin" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="20px" style="width: 400px; height: 400px;">
      <div fxLayout="row" fxLayoutAlign="space-around start">
        <button mat-button (click)="btnChangeView()">Login</button>
        <button mat-button (click)="btnChangeView()">Register here</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;">
        <mat-form-field style="max-width: 95%;margin: auto;">
          <input matInput placeholder="Username *" [(ngModel)]="user.userName" (keydown.enter)="keydownEnter()"/>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;">
        <mat-form-field style="max-width: 95%;margin: auto;">
          <input matInput type="password" placeholder="Password *" [(ngModel)]="user.password" (keydown.enter)="keydownEnter()"/>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-button (click)="login2()" [disabled]="!user.userName || !user.password">Login</button>
      </div>
     
    </div>
    <div *ngIf="!isLogin" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="20px" style="width: 400px; height: 400px;">
      <div fxLayout="row" fxLayoutAlign="space-around start">
        <button mat-button (click)="btnChangeView()">Login</button>
        <button mat-button (click)="btnChangeView()">Register here</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;">
        <mat-form-field style="max-width: 95%;margin: auto;">
          <input matInput placeholder="Username *" [(ngModel)]="newUser.userName" (keydown.enter)="keydownEnterNewUser()"/>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;">
        <mat-form-field style="max-width: 95%;margin: auto;">
          <input matInput type="password" placeholder="Password *" [(ngModel)]="newUser.password" (keydown.enter)="keydownEnterNewUser()"/>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-button (click)="registerUser()" [disabled]="!newUser.userName || !newUser.password">Register</button>
      </div>
    </div>
  </div> 
</div>
</div>
